/* <GABOR,GALAZZO,20024195> */
html {
    text-align: center;
    margin: auto;
}

#puzzlearea {
    width: 400px;
    height: 400px;
    margin: auto;
    position: relative;
}

#puzzlearea div{
    width: 90px;
    height: 90px;
    border: 5px solid black;
    font-size: 40px;
    text-align: center;
    line-height: 90px;
    position: absolute;
}

#puzzlearea div.hover{
    border: 5px solid red !important;
}